main {
    .wrapper {
        margin-top: 60px;

        .custom-h2 {
            font-size: 32px;
            text-align: center;
        }

        .body-video {
            display: flex;
            justify-content: center;

        }
    }
}