/*LES COLONNES */


.div-txt-c{
	padding:5% 5% ;
	text-align: justify;
	
}

/* Lorsque la largeur max est 680px, 
	afficher le LABEL et le CHECKBOX
	cacher le menu
	elargir les list et les liens du menu
	augmenter les marigins interieur, si user survol curseur sur les liens et les listes du menu
	elargir les sous-onglets et position statique si user survol curseur sur les listes du menu
	*/
	@media screen and (max-device-width: 680px){

	
		#div-txt-responsive-index h1{
			font-size: 15px;

		}

		#div-txt-responsive-index p{
			padding: 1% 1% ;
			
		}

		#div-txt-responsive-article h1{
			font-size: 10px;
		}
	}