$orange: #DA722C;
$turquoise1: #B2FFFF;
$turquoise2: #E8F7FB;
$dark: #023047;
$black1: #070917;
$black2: #292929;
$white1: #FDFDFD;
$white2: #FFF;
$grey: #F8F9FA;
$grey1: #c6cdd4;
$blue: #6F7DFB;
$blue2: #CFE2FF;