main {


    .wrapper {

        .wrapper-articles,
        .wrapper-videos,
        .wrapper-podcast {
            padding: 0 24px;

            @media(max-width: 800px) {
                padding: 0 32px;
            }

            @media(max-width: 700px) {
                padding: 0 24px;
            }
        }

        .last-publication {

            p {
                text-align: right;
            }
        }

        .body-article,
        .body-video,
        .body-slide,
        .body-podcast,
        .body-qcm {

            p {
                font-size: 20px;
                line-height: 30px;
                margin: 0 0 15px 0;

                @media(max-width: 1100px) {
                    font-size: 18px;
                    line-height: 25px;

                }

                @media(max-width: 800px) {
                    line-height: 22px;
                    font-size: 17px;
                }

            }
        }

        section {
            @media(max-width: 1100px) {
                // padding: 0 100px;
            }

            @media(max-width: 700px) {
                padding: 0;
            }

            #title-content {
                font-family: $raleway-black, sans-serif;
                font-weight: bold;
                font-size: 36px;

                @media(max-width: 1100px) {
                    font-size: 28px;
                }

                @media(max-width: 800px) {
                    font-size: 24px;
                }

            }

            .subtitle {
                font-size: 26px;
                margin: 0 0 20px 0;

                @media(max-width: 1100px) {
                    font-size: 24px;
                }

                @media(max-width: 800px) {
                    font-size: 18px;
                }
            }

            .subtitle-body {
                .parag-with-ol {
                    font-size: 20px;

                    ol {
                        li {
                            font-size: 20px;
                            line-height: 30px;
                            margin: 0 0 12px 0;
                            list-style-type: decimal;

                            @media(max-width: 1100px) {
                                font-size: 18px;
                                line-height: 25px;

                            }

                            @media(max-width: 800px) {
                                line-height: 22px;
                                font-size: 17px;
                            }
                        }
                    }
                }

                .parag-with-ul {
                    font-size: 20px;

                    ul {
                        li {
                            font-size: 20px;
                            line-height: 30px;
                            list-style-type: inherit;
                            ;

                            @media(max-width: 1100px) {
                                font-size: 18px;
                                line-height: 25px;

                            }

                            @media(max-width: 800px) {
                                line-height: 22px;
                                font-size: 17px;
                            }
                        }
                    }
                }

                .parag-classic {
                    font-size: 20px;

                    @media(max-width: 1100px) {
                        font-size: 18px;
                        line-height: 25px;

                    }

                    @media(max-width: 800px) {
                        line-height: 22px;
                        font-size: 17px;
                    }
                }
            }


        }
    }

    #feedback-container {

        #reviewForm {
            .input-field {
                display: flex;
                align-items: start;
                flex-direction: column;

                input {
                    width: 40%;

                    @media(max-width: 800px) {
                        width: 70%;

                    }

                    @media(max-width: 700px) {
                        width: 80%;

                    }
                }

                textarea {
                    width: 60%;
                    min-height: 200px;
                    resize: none;

                    @media(max-width: 800px) {
                        width: 80%;

                    }

                    @media(max-width: 700px) {
                        width: 90%;

                    }
                }
            }
        }

        #reviews {
            ul {
                li {
                    .comment-item {

                        margin-bottom: 30px;
                    }
                }
            }
        }
    }

}